a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: smaller;
    font-weight: 300;
    transition: padding 0.3s;
}

a:hover {
    background-color:#553c64;
}

a:active {
    background-color: #705085;
}

.label {
    white-space: nowrap;
}

.border-top {
    border-top:1px solid #7e698d;
}

.openHighlight {
    border-left: 5px solid white;
    background-color: #5c426b;
    transition: all 0.1s;
    box-shadow: rgba(31, 33, 34, 0.2) 0px 5px 24px;
}

.closedHighlight {
    border-left: 3px solid white;
    background-color: #5c426b;
    transition: all 0.1s;
}